.content {
    color: aliceblue;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.content__classic {
    width: fit-content;
    height: fit-content;
    justify-content: space-around;
    display: flex;
    gap: 3rem;
    padding: 50px;
    padding-left: 100px;
}

.content__classic--list {
    width: 35vw;
}

.content__classic--list-item {
    width: 35vw;
    word-wrap: normal;
    color: aliceblue;
}

.content__classic--img {
    width: 35vw;
    height: auto;

}

.content__acv {
    justify-content: space-around;
    width: 100%;
    display: flex;
    gap: 3rem;
    padding: 50px;
    margin-left: 0;
    padding-left: 100px;
}

.content__acv--list {
    width: 35vw;
}

.content__acv--list-item {
    width: 35vw;
    color: aliceblue;
}

.content__acv--img-list {
    width: 25vw;
}

.content__acv--img {
    width: 35vw;
    height: auto;
}

.content__gv {
    justify-content: space-around;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 50px;
    padding-left: 100px;
}

.content__gv--title {
    color: aliceblue;
    margin-bottom: 1rem;
}

.content__gv--list {
    width: 35vw;
}

.content__gv--list-item {
    width: 35vw;
    color: aliceblue;
}

.content__gv--img-list {
    width: 35vw;
}

.content__gv--img-item {
    width: 35vw;
    height: auto;
}

@media screen and (max-width: 768px) {
    .header-title {
        padding: 2rem;
        font-size: 1.5rem;
    }

    .content__classic, 
    .content__acv,
    .content__gv {
        flex-direction: column;
        padding: 20px;
        width: 100%;
        gap: 1.5rem;
        align-items: center;
    }

    .content__classic--list, 
    .content__classic--list-item,
    .content__classic--img,
    .content__acv--list, 
    .content__acv--list-item,
    .content__acv--img,
    .content__acv--img-list,
    .content__gv--list, 
    .content__gv--list-item,
    .content__gv--img-list,
    .content__gv--img-item {
        width: 100%;
    }

    .content__classic--img img,
    .content__acv--img img,
    .content__gv--img img {
        width: 100%;
    }
}