main {
    display: flex;
    justify-content: center;
}

.team-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.team-member {
    border: #D4AF37 2px solid;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: large;
}
.member-photo-frame {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: #D4AF37 4px solid;

}
.member-photo {
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-info-frame {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.member-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: aliceblue;
}
.member-role {
    font-style: italic;
    color: #c5c5c5;
}

@media screen and (max-width: 768px) {
    .team-container {
        width: 90%;
    }

    .team-member {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 1.5rem;
    }

    .member-info-frame {
        align-items: center;
    }
}